In [114]:
import numpy as np
import matplotlib as plt
import pandas as pd
import os

In [115]:
os.chdir(os.getcwd())

In [116]:
df = pd.read_csv('train.csv')

In [117]:
df.head()
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [118]:
df.corr() #PClass 
df.var()

PassengerId    66231.000000
Survived           0.236772
Pclass             0.699015
Age              211.019125
SibSp              1.216043
Parch              0.649728
Fare            2469.436846
dtype: float64

In [119]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [120]:
print('No. of missing rows of Male :',df.loc[df.Sex=='male','Age'].isnull().sum())
print('No. of missing rows of Female :',df.loc[df.Sex=='female','Age'].isnull().sum())

No. of missing rows of Male : 124
No. of missing rows of Female : 53

In [121]:
df.Age[(df.Age.isnull()) & (df.Sex=='male')]= round(df.loc[df.Sex=='male','Age'].median())
df.Age[(df.Age.isnull()) & (df.Sex=='female')]= round(df.loc[df.Sex=='female','Age'].median())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [122]:
print('No. of missing rows of Male :',df.loc[df.Sex=='male','Age'].isnull().sum())
print('No. of missing rows of Female :',df.loc[df.Sex=='female','Age'].isnull().sum())

No. of missing rows of Male : 0
No. of missing rows of Female : 0

In [123]:
df.Embarked[df.Embarked.isnull()]='S'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [124]:
pd.crosstab(index = df.SibSp,columns = df.Survived) #Pclass,Sex,Age,SibSp,parch,Fare,Embarked

Survived    0    1
SibSp
0         398  210
1          97  112
2          15   13
3          12    4
4          15    3
5           5    0
8           7    0

In [125]:
x = df.iloc[:,[2,4,5,6,7,11]].values
y = df.iloc[:,1].values

In [126]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [127]:
labelencoder = LabelEncoder()
x[:,1] = labelencoder.fit_transform(x[:,1])
display(pd.DataFrame(x))
#onehotencoder = OneHotEncoder(categorical_features=[1])
#x = onehotencoder.fit_transform(x).toarray()

     0  1   2  3  4  5
0    3  1  22  1  0  S
1    1  0  38  1  0  C
2    3  0  26  0  0  S
3    1  0  35  1  0  S
4    3  1  35  0  0  S
5    3  1  29  0  0  Q
6    1  1  54  0  0  S
7    3  1   2  3  1  S
8    3  0  27  0  2  S
9    2  0  14  1  0  C
10   3  0   4  1  1  S
11   1  0  58  0  0  S
12   3  1  20  0  0  S
13   3  1  39  1  5  S
14   3  0  14  0  0  S
15   2  0  55  0  0  S
16   3  1   2  4  1  Q
17   2  1  29  0  0  S
18   3  0  31  1  0  S
19   3  0  27  0  0  C
20   2  1  35  0  0  S
21   2  1  34  0  0  S
22   3  0  15  0  0  Q
23   1  1  28  0  0  S
24   3  0   8  3  1  S
25   3  0  38  1  5  S
26   3  1  29  0  0  C
27   1  1  19  3  2  S
28   3  0  27  0  0  Q
29   3  1  29  0  0  S
..  .. ..  .. .. .. ..
861  2  1  21  1  0  S
862  1  0  48  0  0  S
863  3  0  27  8  2  S
864  2  1  24  0  0  S
865  2  0  42  0  0  S
866  2  0  27  1  0  C
867  1  1  31  0  0  S
868  3  1  29  0  0  S
869  3  1   4  1  1  S
870  3  1  26  0  0  S
871  1  0  47  1  1  S
872  1  1  33  0  0  S
873  3  1  47  0  0  S
874  2  0  28  1  0  C
875  3  0  15  0  0  C
876  3  1  20  0  0  S
877  3  1  19  0  0  S
878  3  1  29  0  0  S
879  1  0  56  0  1  C
880  2  0  25  0  1  S
881  3  1  33  0  0  S
882  3  0  22  0  0  S
883  2  1  28  0  0  S
884  3  1  25  0  0  S
885  3  0  39  0  5  Q
886  2  1  27  0  0  S
887  1  0  19  0  0  S
888  3  0  27  1  2  S
889  1  1  26  0  0  C
890  3  1  32  0  0  Q

[891 rows x 6 columns]

In [128]:
labelencoder = LabelEncoder()
x[:,5] = labelencoder.fit_transform(x[:,5])

onehotencoder = OneHotEncoder(categorical_features=[5])
x = onehotencoder.fit_transform(x).toarray()

In [129]:
from sklearn.cross_validation import train_test_split

In [130]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [131]:
from sklearn.linear_model import LogisticRegression

In [132]:
model = LogisticRegression(random_state=0)
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [133]:
y_pred = model.predict(x_test)

In [134]:
y_pred

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1], dtype=int64)

In [135]:
from sklearn.metrics import confusion_matrix

In [136]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[143,  25],
       [ 28,  72]], dtype=int64)

In [137]:
test = pd.read_csv('test.csv')

In [138]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [139]:
test.isnull().sum()
#test.describe()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [140]:
test.Age[(test.Age.isnull()) & (test.Sex=='male')]= round(test.loc[test.Sex=='male','Age'].median())
test.Age[(test.Age.isnull()) & (test.Sex=='female')]= round(test.loc[test.Sex=='female','Age'].median())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [141]:
test.Fare[(test.Fare.isnull()) & (test.Embarked=='S')]= round(test.loc[test.Embarked=='S','Fare'].mean())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [142]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [143]:
test1=test[['Pclass','Sex','Age','SibSp','Parch','Embarked']]
test1.head()
x = test1.iloc[:,:].values

In [144]:
labelencoder = LabelEncoder()
x[:,1] = labelencoder.fit_transform(x[:,1])

In [145]:
labelencoder = LabelEncoder()
x[:,5] = labelencoder.fit_transform(x[:,5])

onehotencoder = OneHotEncoder(categorical_features=[5])
x = onehotencoder.fit_transform(x).toarray()

In [146]:
y_pred = model.predict(x)
test['Survived'] = pd.DataFrame(y_pred)

In [147]:
test = pd.concat([test['PassengerId'],test['Survived']], axis=1)

In [148]:
test.loc[test.Survived == 1].count()

PassengerId    154
Survived       154
dtype: int64

In [149]:
writer = pd.ExcelWriter('predict.xlsx')
test.to_excel(writer)
writer.save()